* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(120deg, purple, rebeccapurple);
    color: white;
    min-height: 100vh;
}

header{
    font-size: 1.2rem;
}

header h1 {
    letter-spacing: 10px;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    border: none;
    font-size: 1.5rem;
    background: white;
    outline: none;
}

form button {
    transition: all 0.3s ease;
    cursor: pointer;
    background: white;
}

form button:hover{
    background: #490f63;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-button, .complete-button {
    background: black;
    color: white;
    padding: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.complete-button {
    background: #06d680;
    border: none;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.done {
    text-decoration: line-through;
    opacity: 0.3;
}

.animate {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.select {
    margin-left: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: '\25BC';
    position: absolute;
    background: #490f63;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: #490f63;
}

option {
    color: #490f63;
}